
/* About */

#sinailogo {
    margin: 0 auto; /* horizontal center a div */
}
#sinailogo, #sinailogo img {
    width: 200px;
}


#vertebrae th, #vertebrae td, #vertebrae {
    border: 1px solid black;
}

.bold { font-weight: bold;}

.italic { font-style: italic}

#spinesections li,  #ADfeatures li, #outcomeslist li {
    list-style: none;
}

#SpineAnatomy {
margin: top right bottom left;
margin: 15px 5px;
}

#SpineAnatomy img {
    width: 150px;
    }
/* can't get the images to size correctly-I want them smaller */
#cordanatomy img {
    width: 250px;
}

#spinalnerves {
    width: 50%
}
/* I want to float the spinebonesnerves image next to the spinal nerves div, they should share the space 50/50 */

#spinebonesnerves, img {
    width: 50%
}