
/* Generic Convenience Classes */
.bold       { font-weight: bold; }
.italic     { font-style: italic}

div.center  { margin: 0 auto; }
p.center    { text-align: center; }

/* About (about.html) style */

#sinailogo {
    margin: 0 auto; /* horizontal center a div */
}
#sinailogo, #sinailogo img {
    width: 200px;
}

/* Anatomy (anatomy.html) style */

#vertebraeContainer {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    min-width: 225px;
}

#vertebraeTable { height: 260px; }

#vertebraeTable, #vertebraeTable th, #vertebraeTable td {
    border: 1px solid black;
    padding: 3px;
    margin: 0;
    text-align: center;
}
/* my #outcomeslist is not showing up without the dots */
#spinesections li,  #ADfeatures li, #outcomeslist li {
    list-style: none;
}

#spineAnatomyImageContainer {
    width: 49%;
    display: inline-block;
    padding-top: 10px;
}

#spineAnatomyImageContainer img {
    width: 100%;
    max-width: 400px;
}

#cordAnatomyLeftCol, #spinalNervesLeftCol, #bowelBasicLeftCol {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

#cordAnatomyRightCol, #spinalNervesRightCol, #bowelBasicRightCol {
    display: inline-block;
    width: 49%;
}

#cordAnatomyRightCol img, #spinalNervesRightCol img, #bowelBasicRightCol img {
    width: 100%;
    max-width: 400px;
}

/* #bowelbasic {
    float: right; 
    width: 50%;
    display: inline-block;
}
#bowelbasic img {
    width: 100%;
} */